:css
  .floatLeft { width: 50%; float: left; }
  .floatRight {width: 50%; float: right; }
  .container { overflow: hidden; }
.form-horizontal.show_form
  .form-main-with-color{:style => "background-color: #F1F2F8;"}
    #form-details
      %h3 ECollect Request Template Details
      %p{:style => 'text-align:left; padding-left:6px; padding-bottom:17px'}
        - can = can? :edit, @ecollect_request_template
        %a.btn{:href => "#{!(can) ? '#' : '/ecollect_request_templates/' + @ecollect_request_template.id.to_s + '/edit'}", :role => "button", :class => "btn btn-primary #{(can) ? '' : 'disabled'}"} Edit
      / %h1 ECollect  Request Template
      .container
        %h3 Ecollect Request Template:-
        .floatLeft
          %table.table.no-border
            %tr
              %td.label Customer Code
              %td.value
                = @ecollect_request_template.client_code
              %td
            %tr
              %td.label Request Type
              %td.value
                = @ecollect_request_template.request_type
              %td
            %tr
              %td.label Is Encryption enabled?
              %td.value
                = @ecollect_request_template.is_encryption_required == 1 ? "Y" : "N"
                - if @ecollect_request_template.is_encryption_required == 1
                  - if @ecollect_request_template.ecollect_encrypt_decrypt.present?
                    = link_to 'View Encrypt Decrypt', ecollect_encrypt_decrypt_path(@ecollect_request_template.ecollect_encrypt_decrypt.id),:style => "padding-left: 50px;",target: "_blank"
                  - else
                    = link_to 'Create Encrypt Decrypt', new_ecollect_encrypt_decrypt_path(template_id: @ecollect_request_template.id),:style => "padding-left: 50px;",target: "_blank"
              %td
            %tr
              %td.label Algorithm
              %td.value
                = @ecollect_request_template.algorithm
              %td
            %tr
              %td.label Parameter Type
              %td.value
                = @ecollect_request_template.api_type
              %td
            %tr
              %td.label Decrypt Response
              %td.value
                = @ecollect_request_template.decrypt_response == 1 ? "Y" : "N"
              %td
            %tr
              %td.label Hash enabled?
              %td.value
                = @ecollect_request_template.is_hash_required == 1 ? "Y" : "N"
              %td
        .floatRight
          %table.table.no-border
            %tr
              %td.label Request
              %td.value
                = text_area(:ecollect_request_template,:request,:cols => 3, :rows => 3,:readonly => true)
              %td
            %tr
              %td.label Encrypt Key
              %td.value
                = @ecollect_request_template.url
              %td
            %tr
              %td.label Secret Key
              %td.value
                = @ecollect_request_template.secret_key
              %td
            %tr
              %td.label Created By
              %td.value
                = @ecollect_request_template.created_user.try(:username)
              %td
            %tr
              %td.label Updated By
              %td.value
                = @ecollect_request_template.updated_user.try(:username)
              %td
            %tr
              %td.label Created At
              %td.value
                = @ecollect_request_template.created_at.try(:strftime, "%d/%m/%Y %I:%M%p")
              %td
            %tr
              %td.label Updated At
              %td.value
                = @ecollect_request_template.updated_at.try(:strftime, "%d/%m/%Y %I:%M%p")
              %td
      %hr{:style => "border: none;height: 1px;background-color: lightgray;"}
      .container
        %h3 Ecollect Hash Template:-
        .floatLeft
          %table.table.no-border
            %tr
              %td.label Request Template ID
              %td.value
                = @ecollect_request_template.ecollect_hash_templates.try(:last).try(:request_template_id)
              %td
            %tr
              %td.label Request Template Code
              %td.value
                = @ecollect_request_template.step_name.present? ? "#{@ecollect_request_template.step_name}-#{@ecollect_request_template.id}" : ""
              %td
            %tr
              %td.label Checksum Type
              %td.value
                = @ecollect_request_template.ecollect_hash_templates.try(:last).try(:checksum_type)
              %td
            %tr
              %td.label Parameter Type
              %td.value
                = @ecollect_request_template.ecollect_hash_templates.try(:last).try(:parameter_type)
              %td
        .floatRight
          %table.table.no-border
            %tr
              %td.label Hash Key
              %td.value
                = @ecollect_request_template.ecollect_hash_templates.try(:last).try(:key)
              %td
            %tr
              %td.label Request
              %td.value
                %textarea#ecollect_request_template_request{:cols => "3", :name => "ecollect_request_template[request]", :readonly => "readonly", :rows => "3"} #{@ecollect_request_template.ecollect_hash_templates.last.request}
              %td
      %hr{:style => "border: none;height: 1px;background-color: lightgray;"}
      %h3 Ecollect Hash Parameter:-
      %table.table.table-bordered.table-striped.table-hover
        .thead
          %th{:style=>'text-align:left; background-color: lightblue;'}
            Format Data Type
          %th{:style=>'text-align:left; background-color: lightblue;'}
            Key Value
          %th{:style=>'text-align:left; background-color: lightblue;'}
            Parameter Type
          %th{:style=>'text-align:left; background-color: lightblue;'}
            Key
          %th{:style=>'text-align:left; background-color: lightblue;'}
            Value Type
          %th{:style=>'text-align:left; background-color: lightblue;'}
            Format  
        .tbody
          - @ecollect_request_template.try(:ecollect_hash_templates).try(:last).try(:ecollect_hash_parameters).try(:each) do |ecollect_hash_parameter|
            %tr
              %td{:style=>'text-align:left;'}
                = ecollect_hash_parameter.format_datatype
              %td{:style=>'text-align:left;'}
                = ecollect_hash_parameter.value
              %td{:style=>'text-align:left;'}
                = ecollect_hash_parameter.parameter_type
              %td{:style=>'text-align:left;'}
                = ecollect_hash_parameter.key
              %td{:style=>'text-align:left;'}
                = ecollect_hash_parameter.value_type
              %td{:style=>'text-align:left;'}
                = ecollect_hash_parameter.format
      %hr{:style => "border: none;height: 1px;background-color: lightgray;"}
      .container{:style => "padding-bottom: 10px;"}
        %h3 Ecollect Request Parameter:-
        .floatLeft
          %table.table.no-border
            / %tr
            /   %td.label Request Template ID
            /   %td.value
            /     = @ecollect_request_template.ecollect_request_parameters.try(:first).try(:request_template_id)
            /   %td
            %tr
              %td.label Parameter Type
              %td.value
                = @ecollect_request_template.ecollect_request_parameters.try(:first).try(:parameter_type)
              %td
            %tr
              %td.label Format Data Type
              %td.value
                = @ecollect_request_template.ecollect_request_parameters.try(:first).try(:format_datatype)
              %td
            %tr
              %td.label Key
              %td.value
                = @ecollect_request_template.ecollect_request_parameters.try(:first).try(:key)
              %td
            %tr
              %td.label Length
              %td.value
                = @ecollect_request_template.ecollect_request_parameters.try(:first).try(:length)
              %td
        .floatRight
          %table.table.no-border
            %tr
              %td.label Value Type
              %td.value
                = @ecollect_request_template.ecollect_request_parameters.try(:first).try(:value_type)
              %td
            %tr
              %td.label Parameter Value
              %td.value
                = @ecollect_request_template.ecollect_request_parameters.try(:first).try(:value)
              %td
            %tr
              %td.label Format
              %td.value
                = @ecollect_request_template.ecollect_request_parameters.try(:first).try(:format)
                = link_to :Back,'/ecollect_request_templates', :name => 'cancel', :class=>"cancel btn",:style => "position: relative;left: 100%;"
              %td
            / %tr
            /   %td.label Created By
            /   %td.value
            /     = @ecollect_request_template.ecollect_request_parameters.first.created_user.try(:username)
            /   %td
            / %tr
            /   %td.label Updated By
            /   %td.value
            /     = @ecollect_request_template.ecollect_request_parameters.first.updated_user.try(:username)
            /   %td
            / %tr
            /   %td.label Created At
            /   %td.value
            /     = @ecollect_request_template.ecollect_request_parameters.first.created_at.try(:strftime, "%d/%m/%Y %I:%M%p")
            /   %td
            / %tr
            /   %td.label Updated At
            /   %td.value
            /     = @ecollect_request_template.ecollect_request_parameters.first.updated_at.try(:strftime, "%d/%m/%Y %I:%M%p")
