= search_form_for @searcher do |f|
  = f.standard_fields
  = f.input :account_no
  = f.input :txn_type
  = f.input :file_name, as: :hidden, input_html: {value: params[:file_name]}
  = f.input :status, as: :hidden, input_html: {value: params[:status]}

  = f.action_buttons
= "Total Count: #{@records.count}"
= will_paginate @records, :page_links => true