/ :css
/   .required:after {
/     content:" *";
/     color: red;
/   }
= simple_form_for @ecollect_request_parameter, :html => {:class=>'form-horizontal', :autocomplete=>"off"} do |f|
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@ecollect_request_parameter, :base, :prepend_text => "")
  .form-main{:style=>'width: 100%'}  
    .control-group
      = f.label :request_template_id, "Request Template ID", :class => 'control-label', :class => 'control-label required'
      = f.text_field :request_template_id
      #msg-error
        = error_message_for(@ecollect_hash_template, :request_template_id, :prepend_text => "")
  .form-main{:style=>'width: 50%'}
    .control-group
      = f.label :parameter_type, "Parameter Type", :class => 'control-label', :class => 'control-label required'
      = f.select :parameter_type, [ 'Header', 'Query','Body','Path'], :prompt => 'Select Parameter Type'
      #msg-error
        = error_message_for(@ecollect_request_parameter, :parameter_type, :prepend_text => "")
    .control-group
      = f.label :format_datatype, "Format Data Type", :class => 'control-label', :class => 'control-label required'
      = f.select :format_datatype, [ 'Double', 'String','Timestamp'], :prompt => 'Select Format Data Type'
      #msg-error
        = error_message_for(@ecollect_request_parameter, :format_datatype, :prepend_text => "")
    .control-group
      = f.label :key, "Key", :class => 'control-label', :class => 'control-label required'
      = f.text_field :key
      #msg-error
        = error_message_for(@ecollect_request_parameter, :key, :prepend_text => "")
    .control-group
      = f.label :length, "Length", :class => 'control-label', :class => 'control-label required'
      = f.text_field :length
      #msg-error
        = error_message_for(@ecollect_request_parameter, :length, :prepend_text => "")
  .form-extended{:style=>'width: 50%;'}
    .control-group
      = f.label :value_type, "Value Type", :class => 'control-label', :class => 'control-label required'
      = f.select :value_type, [ 'Static', 'Dynamic'], :prompt => 'Select Value Type'
      #msg-error
        = error_message_for(@ecollect_request_parameter, :value_type, :prepend_text => "")
    .control-group
      = f.label :value, "Parameter Value", :class => 'control-label', :class => 'control-label required'
      = f.text_field :length
      #msg-error
        = error_message_for(@ecollect_request_parameter, :value, :prepend_text => "")
    .control-group
      = f.label :format, "Format", :class => 'control-label', :class => 'control-label required'
      = f.text_field :format
      #msg-error
        = error_message_for(@ecollect_request_parameter, :format, :prepend_text => "")
  .form-actions
    - (f.object.new_record?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_ecollect_request_template', :value => "#{label_name} Request Parameter"
    = link_to :Cancel,'/ecollect_request_parameters', :name => 'cancel', :class=>"cancel btn"