%br
= link_to 'New ECollect Request Parameter', new_ecollect_request_parameter_path
%br
%br
%h1 Listing ECollect Hash
/ %h2.collapsible
/   Advanced Search
/   %span.caret
/ .collapsible-content
/   = render :partial => 'advanced_search'
%br
= "Total Count: #{@ecollect_request_parameters.count}"
%br
%table.table.table-bordered.table-striped.table-hover
  .thead
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Request Template ID
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Parameter Type
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Format Data Type
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Key
    %th{:style=>'text-align:left; background-color: lightblue;'}
      Length
        
  .tbody
    - @ecollect_request_parameters.each do |ecollect_request_parameter|
      %tr
        %td{:style=>'text-align:left;'}
          = link_to 'Show', ecollect_request_parameter_path(ecollect_request_parameter)
        %td{:style=>'text-align:left;'}
          = link_to 'Edit', edit_ecollect_request_parameter_path(ecollect_request_parameter)
        %td{:style=>'text-align:left;'}
          = ecollect_request_parameter.request_template_id
        %td{:style=>'text-align:left;'}
          = ecollect_request_parameter.parameter_type
        %td{:style=>'text-align:left;'}
          = ecollect_request_parameter.format_datatype
        %td{:style=>'text-align:left;'}
          = ecollect_request_parameter.key
        %td{:style=>'text-align:left;'}
          = ecollect_request_parameter.length

