/ :css
/   .required:after {
/     content:" *";
/     color: red;
/   }
= simple_form_for @ecollect_encrypt_decrypt, :html => {:class=>'form-horizontal', :autocomplete=>"off"} do |f|
  = hidden_field_tag :template_id, params[:template_id]
  .control-group
    = f.label ' '
    #msg-error
      = error_message_for(@ecollect_encrypt_decrypt, :base, :prepend_text => "")
  .form-main{:style=>'width: 100%'}  
    .control-group
      = f.label :request_template_id, "Request Template ID", :class => 'control-label', :class => 'control-label required'
      - if f.object.new_record?
        = f.text_field :request_template_id,:value => params[:template_id],disabled: true
      - else
        = f.text_field :request_template_id,disabled: true
      #msg-error
        = error_message_for(@ecollect_encrypt_decrypt, :request_template_id, :prepend_text => "")
  .form-main{:style=>'width: 50%'}
    .control-group
      = f.label :algorithm, "Algorithm", :class => 'control-label', :class => 'control-label required'
      = f.select :algorithm, [ 'AES', 'ECB','PKCS5Padding'], :prompt => 'Select Algorithm'
      #msg-error
        = error_message_for(@ecollect_encrypt_decrypt, :algorithm, :prepend_text => "")
    .control-group
      = f.label :decrypt_response, "Decrypt Response", :class => 'control-label', :class => 'control-label required'
      = f.check_box :decrypt_response,{},1,0
      #msg-error
        = error_message_for(@ecollect_encrypt_decrypt, :decrypt_response, :prepend_text => "")
    .control-group
      = f.label :key, "Key", :class => 'control-label', :class => 'control-label required'
      = f.text_field :key
      #msg-error
        = error_message_for(@ecollect_encrypt_decrypt, :key, :prepend_text => "")
  .form-extended{:style=>'width: 50%;'}
    .control-group
      = f.label :parameter_type, "Parameter Type", :class => 'control-label', :class => 'control-label required'
      = f.select :parameter_type, [ 'Header', 'Query','Body','Path'], :prompt => 'Select Parameter Type'
      #msg-error
        = error_message_for(@ecollect_encrypt_decrypt, :parameter_type, :prepend_text => "")
    .control-group
      = f.label :secret_key, "Secret Key", :class => 'control-label', :class => 'control-label required'
      = f.text_field :secret_key
      #msg-error
        = error_message_for(@ecollect_encrypt_decrypt, :secret_key, :prepend_text => "")
  .form-actions
    - (f.object.new_record?) ? label_name = "Create" : label_name = "Update"
    = f.button "submit" ,:class=>"btn btn-primary", :id => 'submit_ecollect_encrypt_decrypt', :value => "#{label_name} Encrypt Decrypt"
    = link_to :Cancel,'/ecollect_encrypt_decrypts', :name => 'cancel', :class=>"cancel btn"

:javascript
  $(document).ready(function(){
    if($("#template_id").val() == ""){
      $("#new_ecollect_encrypt_decrypt :input").prop("disabled", true);
    }
  });